@model AcuarioWebs.Models.Atencione

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="alert alert-secondary mt-5 text-center">Detalles de la Atención</h1>

<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mb-0">Información de la Atención</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 col-md-2">
                Tipo de Actividad
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.TipoActividad)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Fecha
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Alimento
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.IdAlimentoNavigation.NombreAlimento)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Pez
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.IdPecesNavigation.NombrePez)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Usuario
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.IdUserNavigation.Nombre)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        <a asp-action="Edit" asp-route-id="@Model?.IdAtencion" class="btn btn-warning">
            <i class="fa-solid fa-pen-to-square"></i> Editar
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Volver a la Lista
        </a>
    </div>
</div>
